<div class="container">
  <p><a href="/projects/new">Create a project</a></p>
</div>
<% @projects.each_with_index do |project, index| %>
    <div class="container">
      <a href="/projects/<%= project.id %>"><h4><%= index + 1%>. <%= project.title %></h4></a>
      <p>Creator: <%= User.find_by(id: project.user_id).username %></p>
      <p><%= project.description %></p>
    </div>
<% end%>