<p><a href="/projects/new">Create a project</a></p>
<% @projects.each_with_index do |project, index| %>
    <h4><%= index + 1%>. <%= project.title %></h4>
    <p><%= project.description %></p>
    <p>Creator: <%= User.find_by(id: project.user_id).username %></p>
    <p><a href="/projects/<%= project.id %>/edit">Edit</a></p>
<% end%>